.sobre-nos {
    background-color: #f9f9f9;
    padding: 50px 20px;
  }
  
  .sobre-nos-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .sobre-nos-imagem {
    width: 40%;
    border-radius: 10px;
  }
  
  .sobre-nos-texto {
    width: 60%;
  }
  